# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Build / packaging
build/
dist/
*.spec
*.exe
*.pkl

# Local data
data/
*.csv
*.xlsx
*.xls
*.xlsm

# Logs
*.log
